@model List<LessonForListViewModel>;
@{
    //  ViewData["Title"] = "GetCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var courseId = ViewBag.CourseId;
}
@if (Model.Count != 0)
{
    <div class="top-popular-courses-area section-padding-100-70">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <h3>@Model[0].CourseName</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12  wow fadeInUp" data-wow-delay="400ms">
                    <p>@Model[0].CourseIntroduce</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 ">

                    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">

                        @foreach (var lesson in Model)
                        {
                            <div class="panel single-accordion">
                                <div class="view-all  wow fadeInUp" data-wow-delay="800ms">
                                    <h6>
                                        <a role="button" class="collapsed" aria-expanded="false" aria-controls="collapse_@lesson.Id" data-toggle="collapse" data-parent="#accordion" href="#collapse_@lesson.Id">
                                            @lesson.Name
                                            <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                            <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                        </a>
                                    </h6>


                                    <div id="collapse_@lesson.Id" class="accordion-content collapse ">
                                        <ul>
                                            <li>
                                                <div class="border">
                                                    <div class="ml-4 mt-2 mb-2">
                                                        <span>
                                                            <a href="/lesson/detail/@lesson.Id">
                                                                <img src="/img/chitietkhoahoc/play.png" width="20px" height="20px" />
                                                            </a>
                                                        </span>
                                                        <span class="ml-2">
                                                            <a href="/lesson/detail/@lesson.Id">
                                                                Video
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <div class="accordions " id="accordion_@lesson.Id" role="tablist" aria-multiselectable="true">
                                                            <div class="panel single-accordion">
                                                                <div class="view-all  " data-wow-delay="800ms">



                                                                    <h6>
                                                                        <span>
                                                                            <a role="button" class="collapsed" aria-expanded="false" aria-controls="collapse0_@lesson.Id" data-toggle="collapse" data-parent="#accordion" href="#collapse0_@lesson.Id">

                                                                                Vocabulary
                                                                                <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                                                <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                                                            </a>
                                                                        </span>
                                                                    </h6>

                                                                    <div id="collapse0_@lesson.Id" class="accordion-content collapse ">
                                                                        <ul>
                                                                            @foreach (var vocabulary in lesson.Vocabularies)
                                                                            {
                                                                                <li>
                                                                                    <div class="border">
                                                                                        <div class="ml-4 mt-2 mb-2">
                                                                                            <span>
                                                                                                <a href="/vocabulary/@vocabulary.Id">
                                                                                                    <img src="/img/chitietkhoahoc/play.png" width="20px" height="20px" />
                                                                                                </a>
                                                                                            </span>
                                                                                            <span class="ml-2">
                                                                                                <a href="/vocabulary/@vocabulary.Id">
                                                                                                    @vocabulary.Name
                                                                                                </a>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                            }
                                                                        </ul>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <div class="accordions " id="accordion0_@lesson.Id" role="tablist" aria-multiselectable="true">
                                                            <div class="panel single-accordion">
                                                                <div class="view-all  " data-wow-delay="800ms">



                                                                    <h6>
                                                                        <span>
                                                                            <a role="button" class="collapsed" aria-expanded="false" aria-controls="collapse00_@lesson.Id" data-toggle="collapse" data-parent="#accordion" href="#collapse00_@lesson.Id">

                                                                                Pronunciation
                                                                                <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                                                <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                                                            </a>
                                                                        </span>
                                                                    </h6>

                                                                    <div id="collapse00_@lesson.Id" class="accordion-content collapse ">
                                                                        <ul>
                                                                            @foreach (var pronunciation in lesson.Pronunciations)
                                                                            {
                                                                                <li>
                                                                                    <div class="border">
                                                                                        <div class="ml-4 mt-2 mb-2">
                                                                                            <span>
                                                                                                <a href="/pronunciation/@pronunciation.Id">
                                                                                                    <img src="/img/chitietkhoahoc/play.png" width="20px" height="20px" />
                                                                                                </a>
                                                                                            </span>
                                                                                            <span class="ml-2">
                                                                                                <a href="/pronunciation/@pronunciation.Id">
                                                                                                    @pronunciation.Name
                                                                                                </a>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                            }

                                                                        </ul>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }


                        <div class="view-all text-center wow fadeInUp" data-wow-delay="800ms">
                            <a href="/question/test/@ViewBag.CourseId" class="btn academy-btn">Test</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>



    </div>


}

