@model List<LessonForListViewModel>;
@{
    //  ViewData["Title"] = "GetCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var courseId = ViewBag.CourseId;
}
@if (Model.Count != 0)
{
    <div class="top-popular-courses-area section-padding-100-70">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <span>The Best</span>
                        <h3>@Model[0].CourseName</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12  wow fadeInUp" data-wow-delay="400ms">
                    <p>@Model[0].CourseIntroduce</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 ">

                    <div class="accordions mb-100" id="accordion" role="tablist" aria-multiselectable="true">
                        @{int i = 1; }
                        @foreach (var lesson in Model)
                        {

                            string collapse = "collapse" + i;
                            string heading = "heading" + i;
                            string accordion = "accordion" + i;
                            string accordion0 = accordion + i;
                            string collapse0 = collapse + i;
                            string collapse00 = collapse0 + i;
                            <div class="panel single-accordion">
                                <div class="view-all  wow fadeInUp" data-wow-delay="800ms">
                                    <h6>
                                        <a role="button" class="collapsed" aria-expanded="false" aria-controls="@collapse" data-toggle="collapse" data-parent="#accordion" href="#@collapse">
                                            <b>@lesson.Name</b>
                                            <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                            <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                        </a>
                                    </h6>


                                    <div id="@collapse" class="accordion-content collapse ">
                                        <ul>
                                            <li>
                                                <div class="border">
                                                    <div class="ml-4 mt-2 mb-2">
                                                        <span>
                                                            <a href="/lesson/detail/@lesson.Id">
                                                                <img src="/img/chitietkhoahoc/play.png" width="20px" height="20px" />
                                                            </a>
                                                        </span>
                                                        <span class="ml-2">
                                                            <a href="/lesson/detail/@lesson.Id">
                                                                Video
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <div class="accordions " id="@accordion" role="tablist" aria-multiselectable="true">
                                                            <div class="panel single-accordion">
                                                                <div class="view-all  " data-wow-delay="800ms">



                                                                    <h6>
                                                                        <span>
                                                                            <a role="button" class="collapsed" aria-expanded="false" aria-controls="@collapse0" data-toggle="collapse" data-parent="#accordion" href="#@collapse0">

                                                                                Vocabulary
                                                                                <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                                                <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                                                            </a>
                                                                        </span>
                                                                    </h6>

                                                                    <div id="@collapse0" class="accordion-content collapse ">
                                                                        <ul>
                                                                            <li>
                                                                                <div class="border">
                                                                                    <div class="ml-4 mt-2 mb-2">
                                                                                        <span>
                                                                                            <a href="#">
                                                                                                <img src="/img/chitietkhoahoc/play.png" width="20px" height="20px" />
                                                                                            </a>
                                                                                        </span>
                                                                                        <span class="ml-2">
                                                                                            <a href="#">
                                                                                                Video
                                                                                            </a>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="border">
                                                                                    <div class="ml-4 mt-2 mb-2">
                                                                                        <span>
                                                                                            <a href="#">
                                                                                                <img src="/img/chitietkhoahoc/play.png" width="20px" height="20px" />
                                                                                            </a>
                                                                                        </span>
                                                                                        <span class="ml-2">
                                                                                            <a href="#">
                                                                                                Phonetic
                                                                                            </a>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="border">
                                                                                    <div class="ml-4 mt-2 mb-2">
                                                                                        <span>
                                                                                            <a href="#">
                                                                                                <img src="/img/chitietkhoahoc/play.png" width="20px" height="20px" />
                                                                                            </a>
                                                                                        </span>
                                                                                        <span class="ml-2">
                                                                                            <a href="#">
                                                                                                Audio
                                                                                            </a>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <div class="accordions " id="@accordion" role="tablist" aria-multiselectable="true">
                                                            <div class="panel single-accordion">
                                                                <div class="view-all  " data-wow-delay="800ms">



                                                                    <h6>
                                                                        <span>
                                                                            <a role="button" class="collapsed" aria-expanded="false" aria-controls="@collapse00" data-toggle="collapse" data-parent="#accordion" href="#@collapse00">

                                                                                Pronunciation
                                                                                <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                                                <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                                                            </a>
                                                                        </span>
                                                                    </h6>

                                                                    <div id="@collapse00" class="accordion-content collapse ">
                                                                        <ul>
                                                                            <li>
                                                                                <div class="border">
                                                                                    <div class="ml-4 mt-2 mb-2">
                                                                                        <span>
                                                                                            <a href="#">
                                                                                                <img src="/img/chitietkhoahoc/play.png" width="20px" height="20px" />
                                                                                            </a>
                                                                                        </span>
                                                                                        <span class="ml-2">
                                                                                            <a href="#">
                                                                                                Video
                                                                                            </a>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="border">
                                                                                    <div class="ml-4 mt-2 mb-2">
                                                                                        <span>
                                                                                            <a href="#">
                                                                                                <img src="/img/chitietkhoahoc/play.png" width="20px" height="20px" />
                                                                                            </a>
                                                                                        </span>
                                                                                        <span class="ml-2">
                                                                                            <a href="#">
                                                                                                Phonetic
                                                                                            </a>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="border">
                                                                                    <div class="ml-4 mt-2 mb-2">
                                                                                        <span>
                                                                                            <a href="#">
                                                                                                <img src="/img/chitietkhoahoc/play.png" width="20px" height="20px" />
                                                                                            </a>
                                                                                        </span>
                                                                                        <span class="ml-2">
                                                                                            <a href="#">
                                                                                                Audio
                                                                                            </a>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                            i++;
                        }


                        <div class="view-all text-center wow fadeInUp" data-wow-delay="800ms">
                            <a href="/question/test/@courseId" class="btn academy-btn">Test</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>



    </div>

}

